.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}

#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.background-primary {
  background-color: #fcfcfc;
}

.background-grey {
  background-color: rgba(96, 96, 96, 0.06);
}

/* Components style */
.header {
  background-image: linear-gradient(#ececec, #ffffff);
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12) !important;
  height: 80px;
}

.title {
  height: 80px;
  font-size: 28px;
  color: #3b3b3b;
  font-family: Baskerville;
  align-items: center;
}

.news-card {
  opacity: 0.8;
  border-radius: 6px;
  border: solid 1px #979797;
  background-color: #fff;
  text-align: start;
  min-height: 90px;
}
.news-card:hover {
  opacity: 0.4;
}

.news-card-body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 0.25px;
  color: #606060;
}

.news-card-header {
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #767676;
}

.pointer {
  cursor: pointer;
}

/* Overriding Ant Design classes */
.ant-select-selector {
  border: solid 1px #2e2e2e !important;
  border-radius: 4px !important;
}

.ant-select-selection-placeholder {
  color: #2e2e2e;
}

.ant-select-arrow {
  color: #2e2e2e;
}

.ant-layout-header {
  padding: 0;
}

.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

/* Responsive margins and paddings */
.ps {
  padding: 2vw;
}

.pl {
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.pxl {
  padding-left: 8vw;
  padding-right: 8vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.pts {
  padding-top: 2vh;
}

.ptm {
  padding-top: 4vw;
}

.pbs {
  padding-bottom: 2vh;
}

.pbm {
  padding-bottom: 4vw;
}

.prxs {
  padding-right: 5px;
}

.prs {
  padding-right: 2vh;
}

.plxs {
  padding-left: 5px;
}

.pls {
  padding-left: 2vh;
}

.plxl {
  padding-left: 8vw;
}

.mtm {
  margin-top: 4vh;
}

.mbm {
  margin-bottom: 4vh;
}

.mbs {
  margin-bottom: 3vh;
}

.mbxs {
  margin-bottom: 5px;
}
